#map {
    height: 100%;
    width: 100%;
    .custom-marker {
        cursor: pointer;
        background-image: url(../images/Marker.svg);
        background-repeat: no-repeat;
        background-position: center center;
        height: 2.45rem;
        width: 1.5rem;
    }
    .mapboxgl-ctrl-logo {
        display: none;
    }
    img {
        width: auto;
        height: 100%;
    }
    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 40, 97, 0.5);
        top: 0;
        .info {
            width: 20rem;
            height: 25rem;
            background-color: white;
            border-radius: 10px;
        }
    }
}

.details {
    width: 300px;
    position: absolute;
    background-color: white;
    height: 30%;
    right: -300px;
    transition: all 0.5s;
    top: 25%;
    border-radius: 10px;
    &.open {
        right: 0;
    }
}
