#map {
    height: 100%;
    width: 100%;
    .mapboxgl-marker {
        cursor: pointer;
    }
}

.details {
    width: 300px;
    position: absolute;
    background-color: white;
    height: 30%;
    right: -300px;
    transition: all 0.5s;
    top: 25%;
    border-radius: 10px;
    &.open {
        right: 0;
    }
}
