//- index.pug
extends ./layouts/layout.pug

block content
    section(class="index")
        img(src="/images/icons/Icon-512x512.png" alt="Groenste laadpaal logo")
        h1 Groenste laadpaal
        p Zoek hier naar de groenste laadpaal op u locatie of zoek er één waar u naar toe gaat.

        a(href="/map") Begin met zoeken