//- map.pug
extends ./layouts/layout.pug

block content
    section#map
        h2(class="animate") Loading
    section.menu
    .buttons
        button.getUserLocation Mijn locatie
        button.removeUserLocation Reset location
    .slider.disabled
        .sliderPart
            p.timeP #{date}:00
            p.now Nu
            input(type="range" name="time" id="time" min="0" max="24" value="0")
            p.future +24
        .buttonPart
            div.minus -
            div.plus +
    section.buttomMenu
        .content Het beste moment om te laden is: 
            span #{bestHour}:00
        .openMenu 
            p Open laadpalen laatste gezochte locatie
            img(src="/images/right-arrow.svg")
        .listButton.disabled
            .region.disabled
                label() Selecteer region
                input(type="number" name="region" id="region" min="1" max="1" value="1")
            .list-container
        
