//- map.pug
extends ./layouts/layout.pug

block content
    section#map
        img(src="/images/placeholderBackground.png")
        div.overlay
            section.info
                h2 Je locatie kon (nog) niet worden achterhaald
                p Het kan zijn dat je locatie niet kon worden achterhaald doordat de locatie permissies niet goed staan, probeer hier opnieuw
                button Geef Toestemming
        
