//- map.pug
extends ./layouts/layout.pug

block content
    section#map
    section.menu
    .buttons
        button.getUserLocation Mijn locatie
    .slider.disabled
        p.timeP #{date}:00
        p Nu
        input(type="range" name="time" id="time" min="0" max="23" value=date)
        p +24
    section.buttomMenu
        .content Vanmiddag om 14:00 is het groenste laadmoment
        .listButton 
            .content Hoi, dit zijn de dichtsbijzijnde groene laadpalen
        
        
