//- map.pug
extends ./layouts/layout.pug

block content
    section#map
    section.menu
    .buttons
        button.getUserLocation Mijn locatie
    section.buttomMenu
        .content Vanmiddag om 14:00 is het groenste laadmoment
        .listButton 
            .content Hoi, dit zijn de dichtsbijzijnde groene laadpalen
        
        
